[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
breeze = "*"
pybreezechms = {editable = true,git = "https://github.com/alexortizrosado/pyBreezeChMS"}
jinja2 = "*"
breezechms = {editable = true,git = "https://github.com/alexortizrosado/pyBreezeChMS"}
pytest = "*"
bandit = "*"
flake8 = "*"
pillow = "*"

[requires]
#python_version = "2.7"
python_version = "3"
